.footer {
  height: 96px;
  background-color: #2a3037;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 130px;
}
.footer img {
  height: 16px;
  margin-right: 20px;
}
@media screen and (max-width: 900px) {
  .footer {
    padding: 0px 38px;
  }
}
