.tendencias {
  padding: 80px 130px;
  height: 760px;
  width: 100%;
  background: #ebebeb;
  box-sizing: border-box;
  margin: 0;
}
.tendencias h2 {
  margin-bottom: 35px;
  color: #2a3037;
  font-size: 24px;
}
.tendencias > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 990px) {
  .tendencias {
    padding: 50px;
  }
}
@media screen and (max-width: 370px) {
  .tendencias {
    padding: 40px 37px;
    box-sizing: border-box;
  }
  .tendencias > div {
    display: block;
  }
}
