.blog {
  padding: 139px;
  box-sizing: border-box;
  height: 870px;
  width: 100%;
  position: relative;
}
.blog .articulos {
  display: flex;
}
.blog-float {
  position: absolute;
  top: -200px;
}
.blog h2 {
  margin-bottom: 41px;
}
@media screen and (max-width: 1245px) {
  .articulos-small {
    display: none;
  }
  .blog {
    padding: 220px;
  }
}
@media screen and (max-width: 990px) {
  .blog {
    padding: 70px;
  }
}
@media screen and (max-width: 800px) {
  .blog {
    padding: 200px;
  }
}
@media screen and (max-width: 650px) {
  .blog {
    padding: 80px;
  }
}
@media screen and (max-width: 450px) {
  .blog {
    padding: 10px;
  }
}
@media screen and (max-width: 370px) {
  .blog {
    padding: 0px;
  }
  .blog h2 {
    margin-left: 37px;
  }
}
