.blog {
  box-sizing: border-box;
  height: 870px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.blog .articulos {
  display: flex;
}
.blog-float {
  position: absolute;
  top: -200px;
}
.blog h2 {
  margin-bottom: 41px;
}
@media screen and (max-width: 1245px) {
  .articulos-small {
    display: none;
  }
}
